* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Mulish", sans-serif;
}
html {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}
body {
	background-image: linear-gradient(to bottom, #00ffb3 0%, rgb(138, 24, 245) 120%);
}
/* header styles' start */
.header {
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	background: transparent;
	/* border-bottom: 1px solid darkblue; */
	/* box-shadow: 0 1px 12px #0788a8; */
}
.header__logo {
	width: 140px;
	height: 40px;
	margin-left: 10px;
	background-image: url(../pics/platziVideoLogo.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.header__logo .header__logo--link {
	display: inline-block;
	width: inherit;
	height: inherit;
}
/* header styles' end */

/* main styles' start */
.main{
   width: 100%;
   height: 650px;
   display: flex;
   justify-content: center;
}
.main__form{
   width: 50%;
   max-width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid white;
   margin-top: 40px;
   padding: 90px 50px 20px;
   border-radius: 30px;
   box-shadow: 0px 5px 12px rgb(106, 107, 106);
}
.form__title{
   align-self: flex-start;
   font-size: 2.3rem;
   margin-bottom: 70px;
}
.form__input{
   width: 100%;
   height: 50px;
   padding: 20px 15px;
   background-color: transparent;
   outline: none;
   border: none;
   border-bottom: 2px solid white;
   transition: all .5s;
   margin-bottom: 20px;
}
.form__input:focus{
   border-bottom:2px solid darkblue;
}
.form__input::placeholder{
   color: white;
   font-size: 1.6rem;
}
.form__submit{
   width: 95%;
   height: 40px;
   margin-top: 10px;
   border-radius: 25px;
   color: white;
   font-size: 1.5rem;
   outline: none;
   border: none;
   background-color: rgba(255, 255, 255, 0.363);
   transition: all .3s;
}
.form__submit:active{
   transform: scale(.9);
}
.form__passwordOptions{
   width: 95%;
   height: 30px;
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.form__passwordOptions label{
   color: white;
   font-size: 1.3rem;
}
.form__forgotMyPassword{
   color: white;
   font-size: 1.3rem;
   text-decoration: none;
}
.form__forgotMyPassword:hover{
   text-decoration: underline;
}
.form__loginWithGoogle{
   width: 100%;
   height: 20px;
   align-self: flex-start;
   display: flex;
   align-items: center;
   margin: 20px 0 10px;
}
.form__loginWithGoogle a{
   font-size: 1.4rem;
   color: white;
   text-decoration: none;
}
.form__loginWithGoogle a:hover{
   text-decoration: underline;
}
.form__loginWithGoogle .googleIcon{
   display: inline-block;
   width: 20px;
   height: 20px;
   margin-right: 8px;
   background-image: url(../pics/google-icon.svg);
   background-position: center;
   background-size: cover;
}


.form__loginWithTwitter{
   width: 100%;
   height: 30px;
   align-self: flex-start;
   display: flex;
   align-items: center;
   /* justify-content: space-between; */
   margin: 0 0 35px;
}
.form__loginWithTwitter a{
   /* width: 70%; */
   /* display: inline-block; */
   font-size: 1.4rem;
   color: white;
   text-decoration: none;
}
.form__loginWithTwitter a:hover{
   text-decoration: underline;
}
.form__loginWithTwitter .twitterIcon{
   display: inline-block;
   width: 20px;
   height: 20px;
   margin-right: 8px;
   background-image: url(../pics/twitter.svg);
   background-position: center;
   background-size: cover;
}
.form__register{
   color: white;
   font-size: 1.3rem;
}
.form__register a{
   color: white;
   text-decoration: none;
}
.form__register a:hover{
   text-decoration: underline;
}
/* main styles' end */

/* footer styles' start */
.footer{
	width: 100%;
   height: 60px;
   /* position: absolute; */
   /* bottom: 0; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 20px;
	margin-top: 30px;
	/* background-color:  rgba(18, 111, 199, 0.719); */
	/* background: linear-gradient(to left, #2687db 0%, #32e9b8 90%); */
	box-shadow: 0 1px 12px #064453;
}
.footer__items{
	/* width: 400px; */
	/* max-width: 500px;
	min-width: 100px; */
	display: flex;
	justify-content: center;
}
.footer .footer__items--link{
	color: white;
	font-size: 1.4rem;
	margin-right: 20px;
	text-decoration: none;
	text-align: center;
}
.footer__items--link:hover{
	text-decoration: underline;
	color: rgb(0, 252, 96);
}
/* footer styles' end */